/*** MOBILE FIRST FOOTER ***/

footer{
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

footer a, a:visited{
    padding: 10px;
    color: $contrast-color;
}

/********************************* MEDIA QUERY *****************************/
@media (min-width: 640px){

    footer{
        margin: 30px 0px 0px 0px;
        padding: 20px;
        justify-content: right;
    }

    footer a{
        font-size: 42px;
        margin: 10px;
    }

    footer a:hover{
        transform: scale(0.9);
        cursor: pointer;
        color: $contrast-color;
    }

}