header{
    align-items: center;
    background:  #DDBB4E;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

header img{
    max-width: 40px;
    margin: 20px;
}

#pageName{
    color: $contrast-color;
    margin: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
}

header nav{
    display: none;
}

#dropdownMenuLink{
    display:inline-flex;
    color: $contrast-color;
    font-size: 32px;
    margin: 20px;
}

/********************************* MEDIA QUERY *****************************/
@media (min-width: 640px){

    header{
        justify-content: space-between;
    }

    header img{
        max-width: 60px;
    }

    #pageName{
        margin: 20px;
        white-space: nowrap;
        position: relative;
        right: 100px;
        font-size: 32px;
    }

    header h3{
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 0px; 
    }

    #pageName:visited, #pageName:hover{
        color: $contrast-color;
    }

    header nav{
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0px;
    }

    .dropdown{
        display: none;
    }

    header #main-nav-ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0%;
    }

    header .main-li{
        border-radius: 30px;
        font-size: 14px;
        transition: all 0.2s ease-in-out;
        background-color: none;
        border: 1px solid $contrast-color;
        cursor: pointer;
        margin-right: 12px;
    }

    header a, header a:visited, header a:hover{
        text-decoration: none;
        text-align: center;
        color: $contrast-color;
        height: 32px;
        width: 115px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header li:hover{
        font-weight: 400;
        transform: scale(1.1);
        color: $contrast-color;
    }

}