header{
    align-items: center;
    background:  #DDBB4E;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

header img{
    max-width: 35px;
    margin: 10px 5px 10px 10px;
}

#pageName{
    font-weight: 500;
    font-size: 20px;
    color: $contrast-color;
    margin: 5px;
    padding: auto;
    height: auto;
    text-decoration: none;
}

#pageName:visited, #pageName:hover{
    color: $contrast-color;
}

header nav{
    display: none;
}

#menuIcon{
    display:inline-flex;
    color: $contrast-color;
    font-size: 24px;
    margin: 10px;
}

/********************************* MEDIA QUERY *****************************/
@media (min-width: 640px){

    header{
        padding: 10px;
        justify-content: space-between;
    }

    header img{
        max-width: 60px;
    }

    #pageName{
        font-size: 24px;
        margin: 30px;
    }


    header nav{
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0px;
    }

    #menuIcon{
        display: none;
    }

    header ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0%;
    }

    header li{
        border-radius: 5px;
        font-size: 14px;
        transition: all 0.2s ease-in-out;
        background-color: none;
        border: 1px solid $contrast-color;
        cursor: pointer;
        margin-right: 12px;
    }

    header a, header a:visited, header a:hover{
        text-decoration: none;
        text-align: center;
        color: $contrast-color;
        height: 32px;
        width: 115px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header li:hover{
        font-weight: 400;
        transform: scale(1.1);
        color: $contrast-color;
    }

}