/*** MOBILE FIRST CAROUSEL ***/
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin: 20px;
}

main span{
    color: $contrast-color;
    font-size: 18px;
    margin-right: 10px;
}

#logo{
    width: 80px;
}

.cardBody{
    height: max-content;
}

#myCarousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.carousel-item img{
    max-width: auto;
    max-height: 300px;
}

#myIndicators{
    position: absolute;
    bottom: -55px;
}

#myIndicators button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $main-color;
}

.carousel-item .active{
    position: relative;
}

.fa-chevron-left:before {
    color: $main-color;
    font-size: 32px;
    position: absolute;
    bottom: 50%;
    left: -55%;
}

.fa-chevron-right:before {
    color: $main-color;
    font-size: 32px;
    position: absolute;
    bottom: 50%;
    right: -55%;
}

.carousel-caption{
    margin: 0px;
    padding: 0px;
}

.carousel-caption h5{
    font-size: 32px;
    color: white;
    width: 100%;
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
    );
    border-radius: 10px;
    position: absolute;
    left: center;
    bottom: 40%;
}

.carousel-caption button{
    border-radius: 5px;
    background-color: $main-color;
    border: none;
    cursor: pointer;
    padding: 3px;
    width: 50%;
    color: $contrast-color;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 25%;
}

#contentText{
    margin: 40px 0px 20px 0px;
    width: 80%;
}

#contentText span{
    color: $contrast-color;
    font-size: 16px;
    line-height: 18px;
    margin: 40px 0px;
}

/********************************* MEDIA QUERY *****************************/
@media (min-width: 640px){

    .cardTitle{
        margin: 30px 0px 20px 0px;
    }

    main span{
        font-size: 28px;
    }
    
    #logo{
        width: 130px;
    }

    #myIndicators{
        position: absolute;
        bottom: -70px;
    }
    
    .carousel-caption .active button{
        transition: all 0.2s ease-in-out;
    }

    #contentText{
        width: 50%;
        margin: 60px 0px 30px 0px;
    }

    #contentText span{
        font-size: 24px;
        line-height: 26px;
    }

    .fa-chevron-left:before {
        font-size: 38px;
        left: -100%;
    }
    
    .fa-chevron-right:before {
        font-size: 38px;
        right: -100%;
    }

}