
/*** MY PARTIALS ***/
@import "utilities/_variables";
@import "layout/_header";
@import "layout/_footer";
@import "components/_homeCarousel";
@import "components/_review";

/*** GENERAL ***/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#card{
    border: none;
}

#main{
    color: $contrast-color;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin: 40px;
}

.gif{
    margin-bottom: 30px;
    max-width: 300px;
}

.section-separation{
    width: 80%;
    margin: auto;
    padding: 1px;
    background-color: $main-color;
    opacity: revert;

}

@media (min-width: 640px){

    .gif{
        margin-bottom: 30px;
        max-width: 500px;
    }

    #main{
        font-size: 24px;
        
    }
}