/*** MY PARTIALS ***/
/*** PAGE COLORS ***/
/*** Bootstrap Carousel ***/
header {
  align-items: center;
  background: #DDBB4E;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

header img {
  max-width: 35px;
  margin: 10px 5px 10px 10px;
}

#pageName {
  font-weight: 500;
  font-size: 20px;
  color: #2E4C57;
  margin: 5px;
  padding: auto;
  height: auto;
}

header nav {
  display: none;
}

#menuIcon {
  display: inline-flex;
  color: #2E4C57;
  font-size: 24px;
  margin: 10px;
}

/********************************* MEDIA QUERY *****************************/
@media (min-width: 640px) {
  header {
    padding: 10px;
    justify-content: space-between;
  }

  header img {
    max-width: 60px;
  }

  #pageName {
    font-size: 24px;
  }

  header nav {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px;
  }

  #menuIcon {
    display: none;
  }

  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0%;
  }

  header li {
    border-radius: 5px;
    height: 32px;
    width: 115px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    background-color: none;
    border: 1px solid #2E4C57;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
  }

  header a, a:visited, a:hover {
    text-decoration: none;
    text-align: center;
    color: #2E4C57;
  }

  header li:hover {
    font-weight: 400;
    transform: scale(0.9);
    color: #2E4C57;
  }
}
/*** MOBILE FIRST FOOTER ***/
footer {
  background-color: #DDBB4E;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

footer a, a:visited {
  padding: 10px;
  color: #2E4C57;
}

/********************************* MEDIA QUERY *****************************/
@media (min-width: 640px) {
  footer {
    margin: 0;
    padding: 20px;
    font-size: 32px;
    height: 78px;
    justify-content: right;
  }

  footer a:hover {
    transform: scale(0.9);
    cursor: pointer;
  }
}
/*** MOBILE FIRST CAROUSEL ***/
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin: 25px 0px;
}

main span {
  color: #2E4C57;
  font-size: 24px;
  margin-right: 10px;
}

#logo {
  width: 100px;
}

/********************************* MEDIA QUERY *****************************/
@media (min-width: 640px) {
  .cardTitle {
    margin: 40px 0px;
  }

  main span {
    font-size: 32px;
  }

  #logo {
    width: 150px;
  }

  .cardBody {
    max-width: 700px;
    max-height: auto;
  }
}
/*** GENERAL ***/
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */